#navbar{
  background-color: rgba(120, 40, 253, 1);
}
#footer{
  background-color: rgba(61, 61, 61, 1);
  width: auto;
  padding-bottom: 10px;
}
#line-center{
  border: 2px solid white;
  margin-top: 30px;
}
#text{
  margin-top: -20px;
  padding-bottom: 2px;
  background-color: rgba(61, 61, 61, 1);
  width: 200px;
  border: 3px solid white;
  text-align: center;
}
#text-center{
  display: flex;
  justify-content: center;
}
#footer-link{
  display: flex;
  padding-top: 50px;
  justify-content: center;
}
#ict-green-office{
  background-color: rgba(52, 168, 83, 1);
  width: 170px;
  text-decoration: none;
}
#block1{
  background-color: rgba(61, 61, 61, 1);
}
#block2{
  background-color: rgba(61, 61, 61, 1);
}
#block3{
  background-color: rgba(61, 61, 61, 1);
}
#block4{
  background-color: rgba(61, 61, 61, 1);
}
#circle{
  border: 5px solid white;
  border-radius: 100%;
  width: 80px;
  height: 80px;
}
#circle_off-side{
  display: flex;
  justify-content: center;
  margin-top: -110px;
}
#link-to-top{
  margin-top: -40px;
}
.dropdown:hover>.dropdown-menu {
display: block;
}

.dropdown>.dropdown-toggle:active {
/*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.box{
      height: 1000px;
      background: #B130D1; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(#fafafa, #e097f3); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#fafafa, #e097f3); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#fafafa, #e097f3); /* For Firefox 3.6 to 15 */
      background: linear-gradient(#fafafa, #e097f3); /* Standard syntax (must be last) */   
}
.a{
  font-size: 35px; 
  margin-left: 200px;
  padding-top: 30px;
  font-weight: bold;
 
}
/* .b{
    font-size: 35px; 
    margin-left: 120px;
    margin-top: -40px;
    font-weight: bold;
} */
.c{
  font-size: 30px; 
  margin-left: 120px;
  margin-top: 60px;
  font-weight: bold;
}
.triangle1{
  height: 0px;
  width: 0px;
  border: 10px solid transparent;
  border-left: 15px solid rgb(20, 20, 22);
  position: absolute;
  right: 0;
  top: 280px;
  left: 120px;
}
.triangle2{
  height: 0px;
  width: 0px;
  border: 10px solid transparent;
  border-left: 15px solid rgb(20, 20, 22);
  position: absolute;
  right: 0;
  top: 343px;
  left: 120px;
}
.triangle3{
  height: 0px;
  width: 0px;
  border: 10px solid transparent;
  border-left: 15px solid rgb(20, 20, 22);
  position: absolute;
  right: 0;
  top: 405px;
  left: 120px;
}
.d{
  font-size: 30px; 
  margin-left: 120px;
  margin-top: 400px;
  font-weight: bold;
}
.line{
  width: 5px;
  height: 850px;
  background-color: rgba(0, 0, 0, 0.416);
  margin-left: 600px;
  margin-top: -750px;
  
  
}
.e{
  font-size: 30px; 
  margin-left: 1100px;
  margin-top: -1130px;
  font-weight: bold;
}


.recommend{
  font-size: 28px;
  margin-top: 0px;
  margin-left: 150px;
  display: flex;
  text-decoration: underline;
  
}
.recommend2{
  font-size: 28px;
  margin-top:  150px;
  margin-left: 150px;
  display: flex;
  text-decoration: underline;
  
}
.recommend3{
  font-size: 28px;
  margin-top: -160px;
  margin-left: 150px;
  text-decoration: underline;
}